:root {
  --negro: #000;
  --blanco: #fff;
  --celeste: skyblue;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

body {
  background-color: beige;
}

.contenedor {
  max-width: 1000px;
  margin: 20px auto;
}

.imagen-contenedor {
  position: relative;
}

@keyframes example {
  from {background-color: transparent;}
  to {background-color: blue;}
}

.texto-contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: example;
  animation-duration: 4s;
  background-color: transparent;
}